body{
  background-color: #F5FFFA;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: larger;
  font-family: 'Antonio', sans-serif;


}
.header-logo{
    height: 300px;
}
.logo-pokemon{
    height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #loading{
    width:2rem;
    height: 2rem;
    border:5px solid #f3f3f3;
    border-top:6px solid #8FBC8F;
    border-radius:100%;
    margin:auto;
    visibility:hidden;
    animation:spin 1s infinite linear;

    }
    #loading.display{
      visibility:visible;
    }
      @keyframes spin{
        from{
          transform:rotate(0deg)
        }
        to{
          transform:rotate(360deg)
        }
      }
      .list-group {
        text-align: center;
        width: 700px;
        margin: 40px auto;
      }
    #pokemonModal{
      text-align: center;
    }
    .img-element{
      width: 180px;
    }
   .content img{
     width: 30%;
     margin-top: 70px;
     animation:moveVertical 2s ease infinite alternate;
   }

   @keyframes moveVertical {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-17px);
    }
  }
  .content p{
    margin-top:45px;
    font-family: 'Antonio', sans-serif;
    font-size: larger;
    font-weight:400;
  }
  #nav-pokedex{
    font-size:30px;
  }
 #icon{
   display: block;
   margin: 0 auto;
   color: #D8BFD8;
   font-size:15px;
 }
